/* width */
.w50 {
  display: inline-block;
  width: 50px;
  margin: 0 auto;
}
.w100 {
  display: inline-block;
  width: 100px;
  margin: 0 auto;
}
.w200 {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
}
.w300 {
display: inline-block;
width: 300px;
margin: 0 auto;
}
.w400 {
display: inline-block;
width: 400px;
margin: 0 auto;
}
.w450 {
display: inline-block;
width: 450px;
margin: 0 auto;
}
.w500 {
display: inline-block;
width: 500px;
margin: 0 auto;
}

/* padding */
.padding5 {padding: 5px;}
.padding10 {padding: 10px;}
.padding20 {padding: 20px;}
.padding1020 {padding: 10px 20px;}

/* margin */
.marginAuto {margin: 0 auto;}
.margin5 {margin: 5px;}
.margin05 {margin: 0 5px;}
.margin10 {margin: 10px;}

/* 背景設定用 */
.back-grey {background-color: rgb(240, 240, 240);}
.backGrey {background-color: rgb(240, 240, 240);}
.back-white {background-color: white;}
.backWhite {background-color: white;}
/* .back- {background-color: ;} */

/* border */
.border {
  border-radius: 10px;
}
.borderBlack {
  border: solid 2px black;
  border-radius: 10px;
}
.borderBlue {
  border: solid 2px blue;
  border-radius: 10px;
}
.borderGreen {
  border: solid 2px Green;
  border-radius: 10px;
}
/* .border {
  border: solid px ;
  border-radius: 10px;
} */

/* color */
.blue {color: blue;}
.green{color: green;}
/* . {color: ;} */

/* fontsize */
.fontSizeSmall {
  font-size: 14px;
}
.fontSizeh2 {
  font-size: 24px;
}
.fontSizeh1 {
  font-size: 32px;
}
.fontSize100 {
  font-size: 100px;
}
/* display */
.flexwrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flexGrow1 {flex-grow: 1;}
.inlineBlock {
  display: inline-block;
}

/* textAlign */
.right {text-align: right;}
.left {text-align: left;}
.center {text-align: center;}

/* position */
.relative {position: relative;}
.absolute {
  position: absolute;
}
.absoluteTop {
  position: absolute;
  top: 5px;
}
.absoluteBottom {
  position: absolute;
  bottom: 5px;
}
.absolute3 {
  position: absolute;
  right: 50px;
  top: 5px;
}
.absolute2 {
  position: absolute;
  bottom: 10px;
}

/* 骨格 */
.content {
  width: 90%;
  max-width: 1500px;
  margin: 20px auto;
}
.imgContain {object-fit: contain;}
.imgCover {object-fit: cover;}
.overflowAuto {
  overflow: auto;
  height: 60vh;
}
/* z-index */
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}

.App {
  text-align: center;
}
.blank {
  height: 50px;
}
/* じかあて */
.table1 table {
  border: solid 1px black;
  width: 100%;
  table-layout: fixed;
}
.table1 th {
  padding: 10px;
  border: solid 1px black;
}
.table1 td {
  padding: 10px;
  border: solid 1px black;
}
/* .table2 {
  transition:all 3s ease-out;
} */
.table2 th {
  padding: 5px;
}
.table2 td {
  padding: 5px;
}
.table2 tr:nth-child(odd) {
  background-color: rgb(240, 240, 240);
}
.card h2 {
  padding: 10px;
}
.card p {
  padding: 5px;
}

/* hover */
.hReverse:hover {
  color: white;
  background-color: blue;
  cursor: pointer;
}
.hReverseBlack:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}
/* .hReverse:hover {
  color: ;
  background-color: ;
  cursor: pointer;
} */

.none {display: none;}
.block {
  display: block;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.5);
}